@charset "utf-8";

@media screen and (max-width: 1200px) {
	.toplist_list {
		height: 350px;
	}
	table {
		display: none;
	}
	.review-content {
		display: none;
	}
	.thumb {
		text-align: center;
	}
	.thumb img {
		position: unset;
	}
	.list_content {
		padding-left: 0;
		text-align: center;
		padding-top: 20px;
	}
	hr {
		margin: 0;
	}
}